.service-student, 
.service-delivery, 
.service-meal, 
.service-farmersmarket, 
.service-seniormeals, 
.service-ebtgroceries, 
.service-wicgroceries, 
.service-communitygardens, 
.service-foodbox {
  font-size: 1.5rem;
  padding: 5px;
  margin-right: .25rem;
  border-radius: 8px;
}

.service-student {
  color: purple;
  border: 1px solid purple;
}

.service-delivery {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}

.service-meal {
  color: lightcoral;
  border: 1px solid red;
}

.service-foodbox {
  color: orange;
  border: 1px solid orange;
}

.service-farmersmarket {
  color: darkgreen;
  border: 1px solid darkgreen;
}

.service-seniormeals {
  color: darkslategrey;
  border: 1px solid darkslategrey;
}

.service-wicgroceries {
  color: darkblue;
  border: 1px solid darkblue;
}

.service-ebtgroceries {
  color: darkred;
  border: 1px solid darkred;
}

.service-communitygardens {
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
}

.table-print .service-student, 
.table-print .service-delivery, 
.table-print .service-meal, 
.table-print .service-foodbox {
  font-size: 1em;
}

